{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title|default:"Home" }} · My Site</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#photos">Photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/static/resume.pdf" target="_blank"
                  >Resume</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://github.com/douglas-korinke/"
                  target="_blank"
                  >GitHub</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.linkedin.com/in/douglaskorinke/"
                  target="_blank"
                  >LinkedIn</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://stackoverflow.com/users/3850869/douglas-korinke/"
                  target="_blank"
                  >Stack Overflow</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>

    <footer class="site-footer">
      <p>&copy; {% now "Y" %} Douglas Korinke</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
